@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(calc(5 * var(--unit)));
    }
    
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes select-nav-btn {
    from {
        color: var(--footer-font-color);
    }
    
    to {
        color: var(--main-theme-color);
    }
}

@keyframes roll-in {
    
    0%, 50% {
        transform: rotate(180deg);
        right: -20%;
        border-color: var(--font-color);
    }
    
    70% {
        border-color: var(--font-color);
    }

    100% {
        transform: none;
        right: 0;
        border-color: var(--main-theme-color);
    }
}